{% extends 'AppCoder/Padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<p>Listado de Alumnos</p>

<ul> 

    {% for alumno in lista %}
        <li>
        {{alumno.nombre}} {{alumno.apellido}} - 
        DNI: {{alumno.dni}} -
        Fecha de nacimiento: {{alumno.año_nacimiento}} - 
        Teléfono de Contacto:{{alumno.telefono_contacto}}
        </li>
        <button>
            <a href="{% url 'eliminaAlumno' alumno.id %}"> Eliminar</a>
        </button>
    {% endfor %}

</ul>
{% endblock contenidoQueCambia %}